<form method="get">
    <h2>Expand URL</h2>
    <label for="long">Enter a short URL below:</label><br>
    <input type="text" id="long" name="long" value=""><br>
    <input type="submit" id="shortSubmit" value="Expand URL">
    <p>{{long}}</p>
</form>