<!DOCTYPE html>
<html>
    <head>
        <title>URL Shortener</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="https://use.typekit.net/seb0zhz.css"/>
        <link rel="shortcut icon" type="image/png" href="/img/gold.png"/>
    </head>
    <body>
        <header>
            <h1>URL Shortener</h1>
            <div id="buttons">
                <button class="r"><a href="/">Trending URLS</a></button>
                <button class="r"><a href="/shorten">Shorten URL</a></button>
                <button><a href="/expand">Expand URL</a></button>
            </div>
        </header>
        <main>
            {{{body}}}
        </main>
    </body>
</html>