<form method="post">
    <h2>Shorten URL</h2>
    <label for="original">Enter a long URL below:</label><br>
    <input type="text" id="short" name="original" value=""><br>
    <input type="submit" id="shortSubmit" value="Shorten URL">
    <p>{{short}}</p>
</form>